*{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    background-color: black;
    height:100%;
    margin: 0;
    color:white;
}
h1, h2 {
    font-size:40px;
    margin:0;
}
main {
    height:50vh;
    background-color: #66798a;
    text-align: center;
}
article {
    background-color: #001425;
    text-align: center;
    height:40vh;
}
article p {
    font-size: 20px;
    padding:0 10vw;
}
ul {
    list-style-type: none;
    max-width:100vw;
    height:10vh;
    margin:0;
    overflow: hidden;
    background-color: #001425;
  }
  
li {
    display:flex;
    align-items: center;
    float: left;
    color:white;
    height:100%;
    padding-right:20px;
}
li a {
    line-height: 100%;
    color:white;
    text-decoration: none;
}
/* this isnt redundant */
/* sure its not */
/* try just float right i dare you */
.navbar-right {
    float: right;
    transform: translateX(-50px);
}
#startHere {
    border: solid 1px;
    border-radius: 15px;
    background-color: #cfe2f3;
    font-size: 50px;
    padding: 10px 20px;
    height: 100px;
    width: 500px;
    transition: all 0.3s ease; 
}

#startHere:hover {
    background-color: #9fc5e8; 
    border-color: #6fa8dc; 
    transform: scale(1.05);
    cursor: pointer; 
}

/* yes have an active class for a button that redirects */
/* ive never used a w3 schools tutorial dont know what yall talking about*/
input[type='text']{
    background-color:#5d5d5d;
}
#continueButton {
    background-color: #003cff;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input[type="text"], 
textarea {
  border: 1px solid #ccc; 
  border-radius: 10px;    
  padding: 10px;        
  outline: none;        
}

input[type="text"]:focus, 
textarea:focus {
  border-color: #007BFF; 
  box-shadow: 0 0 5px #007BFF; 
}
/* box-shadow in the big 2025 broken heart*/
/* haha you thought i was gonna and paste the same css for every single text id in the whole html right hahahhahahahahhahahaahahahahhahaaaahha */